RedirectMatch 302 ^/$ /mixtapes/
RedirectMatch 302 ^/mixtape$ /mixtapes/#1
RedirectMatch 302 ^/mixtape/ /mixtapes/#1
RedirectMatch 302 ^/mixtapes/2 /mixtapes/#2
RedirectMatch 302 ^/mixtapes/3 /mixtapes/#3
RedirectMatch 302 ^/mixtapes/4 /mixtapes/#4
#RedirectMatch 302 ^/mixtapes/5 /mixtapes/#5

# NR 1 legacy redirects
RedirectMatch 302 ^/mixtape$ /mixtapes/#1
RedirectMatch 302 ^/mixtape/ /mixtapes/#1

# NR 1 tracklist redirects
Redirect 302 /mixtapes/1/t/1 https://soundcloud.com/abe-monk
Redirect 302 /mixtapes/1/t/2 http://ninjatune.net/release/roots-manuva/dub-come-save-me
Redirect 302 /mixtapes/1/t/3 https://itunes.apple.com/de/album/hasir/id962781108?i=962781297&l=en
Redirect 302 /mixtapes/1/t/4 https://www.youtube.com/watch?v=O_IQW9bwR3U
Redirect 302 /mixtapes/1/t/5 https://itunes.apple.com/de/album/i.a.m./id380933231?i=380933474&l=en
Redirect 302 /mixtapes/1/t/6 https://myspace.com/iamtheanimator/music/song/street-monk-93656083-104194157
Redirect 302 /mixtapes/1/t/7 https://soundcloud.com/eins78/trust-me-pull-me-remix
Redirect 302 /mixtapes/1/t/8 https://www.bpitchcontrol.de/market/browse/1570
Redirect 302 /mixtapes/1/t/9 /mixtapes/1/
Redirect 302 /mixtapes/1/t/10 https://www.youtube.com/watch?v=gBIvT44_Vz8
Redirect 302 /mixtapes/1/t/11 http://www.ratatatmusic.com
Redirect 302 /mixtapes/1/t/12 http://ninjatune.net/release/roots-manuva/run-come-save-me
Redirect 302 /mixtapes/1/t/13 http://genius.com/Dynamite-deluxe-lots-of-signs-lyrics
Redirect 302 /mixtapes/1/t/14 https://itunes.apple.com/de/album/les-djinns-trentemoller-remix/id251324119?i=251328594&l=en
Redirect 302 /mixtapes/1/t/15 http://genius.com/Blumentopf-profis-lyrics
Redirect 302 /mixtapes/1/t/16 https://archive.org/details/tA_D_kpradio
Redirect 302 /mixtapes/1/t/17 https://www.youtube.com/watch?v=htVa2stX_RA
Redirect 302 /mixtapes/1/t/18 https://itunes.apple.com/de/album/sprachfehler/id263703634?i=263704659&l=en
Redirect 302 /mixtapes/1/t/19 /mixtapes/1/
Redirect 302 /mixtapes/1/t/20 https://soundcloud.com/bikecore/next-summer-hit-i-want-to-shout-it-out-1
Redirect 302 /mixtapes/1/t/21 http://genius.com/Blumentopf-mehr-lyrics
Redirect 302 /mixtapes/1/t/22 http://youtu.be/563x9wQeL9k
Redirect 302 /mixtapes/1/t/23 https://itunes.apple.com/de/album/ambition/id416309109?i=416309120&l=en
Redirect 302 /mixtapes/1/t/24 https://itunes.apple.com/de/album/moan-trentem-ller-remix/id404695106?i=404695198&l=en
Redirect 302 /mixtapes/1/t/25 https://soundcloud.com/178/eins78-the-circuit
Redirect 302 /mixtapes/1/t/26 https://www.bpitchcontrol.de/artists/ellen-allien/
Redirect 302 /mixtapes/1/t/27 http://candychang.com
Redirect 302 /mixtapes/1/t/28 http://humandollz.com/av_en.html
Redirect 302 /mixtapes/1/t/29 https://itunes.apple.com/de/album/tapped-feat.-jme/id880145365?i=880145532&l=en
Redirect 302 /mixtapes/1/t/30 https://itunes.apple.com/de/album/konichiwa-bitches-trentem/id256260275?i=256260426&l=en
Redirect 302 /mixtapes/1/t/31 https://itunes.apple.com/de/album/zucker-feat.-vanessa-mason/id291805242?i=291805256&l=en
Redirect 302 /mixtapes/1/t/32 https://itunes.apple.com/de/album/une-bande-de-mec-sympa/id416309109?i=416309121&l=en
Redirect 302 /mixtapes/1/t/33 https://www.youtube.com/watch?v=OpYR7ilLbfo
Redirect 302 /mixtapes/1/t/34 https://itunes.apple.com/de/album/loin-de-moi/id796894655?i=796894750&l=en
Redirect 302 /mixtapes/1/t/35 /mixtapes/1/
Redirect 302 /mixtapes/1/t/36 https://soundcloud.com/apparat/arcadia
Redirect 302 /mixtapes/1/t/37 http://ninjatune.net/release/roots-manuva/dub-come-save-me
Redirect 302 /mixtapes/1/t/38 http://youtu.be/rNStVlJWy88
Redirect 302 /mixtapes/1/t/39 http://youtu.be/zjcqpp79nSo
Redirect 302 /mixtapes/1/t/40 https://itunes.apple.com/de/album/kabale-und-liebe/id263703634?i=263705330&l=en
Redirect 302 /mixtapes/1/t/41 http://youtu.be/wBGs8JkVkFY
Redirect 302 /mixtapes/1/t/42 https://pro.beatport.com/track/the-maker-original-mix/782579
Redirect 302 /mixtapes/1/t/43 https://soundcloud.com/extrawelt-official/dark-side-of-my-room
Redirect 302 /mixtapes/1/t/44 https://itunes.apple.com/de/album/esplanade-97/id98849747?i=98849332&l=en
Redirect 302 /mixtapes/1/t/45 https://itunes.apple.com/de/album/liebe-ist.../id220045415?i=220045499&l=en
Redirect 302 /mixtapes/1/t/46 https://itunes.apple.com/de/album/gothic-girl-menses-club-mix/id172133660?i=172133892&l=en
Redirect 302 /mixtapes/1/t/47 http://www.kompakt.fm/releases/minimal_dj_koze_mix
Redirect 302 /mixtapes/1/t/48 https://itunes.apple.com/de/album/solar-trip-feat.-katya-tyukova/id289369493?i=289373770&l=en
Redirect 302 /mixtapes/1/t/49 http://youtu.be/KhrteSZXFzM
Redirect 302 /mixtapes/1/t/50 http://youtu.be/sy1dYFGkPUE
Redirect 302 /mixtapes/1/t/51 http://youtu.be/Ci40ae8BlcE
Redirect 302 /mixtapes/1/t/52 http://youtu.be/S-l-c3rTlnE
Redirect 302 /mixtapes/1/t/53 http://www.last.fm/music/Klaxons/_/It's+Not+Over+Yet+(Skream+Remix)
Redirect 302 /mixtapes/1/t/54 https://myspace.com/deutscheband/music/song/alles-im-arsch-7281148-7082332
Redirect 302 /mixtapes/1/t/55 https://itunes.apple.com/de/album/that-sound-wiped/id252874122?i=252874221&l=en
Redirect 302 /mixtapes/1/t/56 https://itunes.apple.com/de/album/freak-a-holic/id276070123?i=276070437&l=en
Redirect 302 /mixtapes/1/t/57 http://www.pudel.com/produkte.php?pID=6
Redirect 302 /mixtapes/1/t/58 https://soundcloud.com/eins78/hypnose-eins78-digital-is-besser-remix-preview
Redirect 302 /mixtapes/1/t/59 https://itunes.apple.com/de/album/antenne-2/id416309109?i=416309116&l=en
Redirect 302 /mixtapes/1/t/60 https://itunes.apple.com/de/album/perpetual-emotion-maschine/id674702774?i=674703153&l=en
Redirect 302 /mixtapes/1/t/61 https://itunes.apple.com/de/album/twenty-eight-love-song/id274583123?i=274583249&l=en
Redirect 302 /mixtapes/1/t/62 https://soundcloud.com/178/ratatat-vs-dre-eminem-bilar-about-dre
Redirect 302 /mixtapes/1/t/63 https://itunes.apple.com/de/album/too-much/id274067888?i=274067895&l=en
Redirect 302 /mixtapes/1/t/64 https://itunes.apple.com/de/album/we-cant-be-stopped/id369886393?i=369886554&l=en
